/* CSS for Map */


/* CSS for homempage */
body,h1 {font-family: "Verdana", sans-serif;}
body, html {height: 100%}


.page-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.map-container{
  display: flex;
  align-content: center;
  justify-content: center;
}

.chart-container{
  display: flex;
    align-content: center;
  justify-content: center;
}

#map {
  height: 400px;
  width:100%;
 }